@using Garage3._0.Models

@{
    ViewData["Title"] = "Edit a member";
}



<div class="modal-body text-center text-warning">
    <h4>Great!</h4>
    <p>You successfully edited the member.</p>
    <a asp-controller="Members" asp-action="index" class="btn btn-warning" data-dismiss="modal"><span>Close</span> <i class="material-icons">&times;</i></a>
</div>
