@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-warning text-center">@ViewData["Title"]</h1>


    <div class="container justify-content-center w-100">
        <div class="row w-100  justify-content-lg-around mb-2 container-fluid">
            <div class="card" style="width: 280px; height:400px">
                <img src="https://cdn.pixabay.com/photo/2017/01/31/21/23/avatar-2027365_960_720.png" class="card-img-top" alt="..." style="width: 100%; height:50%">
                <div class="card-body bg-primary">
                    <h5 class="card-title">Matts - General Manager</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <a href="#" class="btn btn-warning">Contact me</a>
                </div>
            </div>


            <div class="card" style="width: 280px; height:400px">
                <img src="https://cdn.pixabay.com/photo/2017/12/18/03/01/black-avatar-3025348_960_720.png" class="card-img-top" alt="..." style="width: 100%; height:50%">
                <div class="card-body bg-primary">
                    <h5 class="card-title">Mike - General Manager</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <a href="#" class="btn btn-warning">Contact me</a>
                </div>
            </div>

        </div>
   

        <div class="row w-100  justify-content-lg-around container-fluid">
            <div class="card mb-1" style="width: 280px; height:400px">
                <img src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png" class="card-img-top" alt="..." style="width: 100%; height:50%">
                <div class="card-body bg-primary">
                    <h5 class="card-title">Mohamad - General Manager</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <a href="#" class="btn btn-warning">Contact me</a>
                </div>
            </div>

            <div class="card mb-1" style="width: 280px; height:400px">
                <img src="https://cdn.pixabay.com/photo/2017/01/31/21/22/avatar-2027363__340.png" class="card-img-top" alt="..." style="width: 100%; height:50%">
                <div class="card-body bg-primary">
                    <h5 class="card-title">Alex - General Manager</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <a href="#" class="btn btn-warning">Contact me</a>
                </div>
            </div>

           



        </div>


</div>


