@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-center text-warning">Welcome to Stockholm Garage G2</h1>

</div>

@*<div class="container justify-content-center w-100">
    <div class="row w-100  justify-content-lg-around mb-2 container-fluid">
        <div class="card" style="width: 380px; height:400px">
            <img src="https://image.freepik.com/free-vector/yacht-boat-cartoon_18591-45336.jpg" class="card-img-top" alt="..." style="width: 100%; height:50%">
            <div class="card-body bg-primary  text-white">
                <h5 class="card-title">Park your Boats</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <a href="#" class="btn btn-warning">Check availability</a>
            </div>
        </div>


        <div class="card" style="width: 380px; height:400px">
            <img src="https://s.clipartkey.com/mpngs/s/178-1788313_transparent-tesla-png-2017-tesla-model-x-p100d.png" class="card-img-top bg-transparent" alt="..." style="width: 100%; height:50%">
            <div class="card-body bg-primary  text-white">
                <h5 class="card-title">Park your car</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <a href="#" class="btn btn-warning">Check availability</a>
            </div>
        </div>

    </div>


    <div class="row w-100  justify-content-lg-around container-fluid">
        <div class="card mb-1" style="width: 380px; height:400px">
            <img src="https://www.metropolitanshuttle.com/wp-content/uploads/large-cartoon-bus.png" class="card-img-top" alt="..." style="width: 100%; height:50%">
            <div class="card-body bg-primary  text-white">
                <h5 class="card-title">Park your bus</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <a href="#" class="btn btn-warning">Check availability</a>
            </div>
        </div>

        <div class="card mb-1" style="width: 380px; height:400px">
            <img src="https://thumbs.dreamstime.com/z/yellow-motorbike-hand-drawing-strong-not-real-model-59196588.jpg" class="card-img-top" alt="..." style="width: 100%; height:50%">
            <div class="card-body bg-primary text-white">
                <h5 class="card-title">Park your motorcycle</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <a href="#" class="btn btn-warning">Check availability</a>
            </div>
        </div>





    </div>


</div>*@
